#Conexão com o banco de dados MySQL
DATABASE_URL=mysql+pymysql://root:sua_senha@localhost:3306/seu_banco

# URLs do sistema (API e Frontend)
# Altere conforme o endereço e a porta utilizados no ambiente
FRONTEND_URL=http://localhost:3000
API_URL=http://localhost:5000

# Tipo de ambiente
# Opções: development, production ou testing
FLASK_ENV=development

# Chaves secretas
SECRET_KEY=sua_chave_secreta
JWT_SECRET_KEY=sua_chave_secreta_para_jwt

# Configurações de e-mail para envio via SMTP
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587 #Para envio TLS (para SSL, use 465)
MAIL_USERNAME=seu_email@gmail.com
MAIL_PASSWORD=sua_chave_app #Deverá ser uma chave de app ao invés da senha, por questões de segurança

# Nota: 
#  - Renomeie este arquivo para arquivo '.env' (sem o '.example') para que tudo funcione corretamente e preencha as variáveis com os valores do seu ambiente.
