{% extends "home_base.html" %}

{% block head_extra_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/create_quiz.css') }}"/>
{% endblock head_extra_content %}

{% block title %}Criar Novo Quiz{% endblock %}

{% block conteudo %}


<form id="form-quiz" onsubmit="return false;"> 
    
    <div id="header-quiz">
        <h1>Criar Novo Quiz</h1>
        
        <label for="titulo">Título do Quiz</label>
        <input type="text" id="titulo" name="titulo" required>
        
        <!--Inputs que não aparecem ao usuário, server para enviar ao js-->
        <input type="hidden" id="quiz-id-input" name="quiz_id" value="{{ quiz_id if quiz_id is defined else '' }}">

        <input type="hidden" id="pasta-id-input" name="pasta_id" value="{{ pasta_id if pasta_id is defined else '' }}">
    </div>

    <hr>
    
    <h2>
        Questão 
        <span id="indice_questao">1</span> 
        de 
        <span id="total_indice_questoes">1</span>
    </h2>

    <!--Inicia vazia, pois é onde será injetada os campos do template-->
    <div id="current-question-container">
    </div>

    <hr>
    <div>
        <button type="button" id="prev-question-btn" disabled>Anterior</button>
        <button type="button" id="next-question-btn" disabled>Próxima</button>
        <button type="button" id="new-question-btn">Nova Questão</button>
    </div>

    <div style="margin-top: 20px;">
        <button type="submit" id="save-quiz-btn">Salvar e Finalizar Quiz</button>
    </div>

    <hr>
</form>

<template id="question-slide-template">
    <div class="question-slide d-flex flex-column flex-lg-row gap-4">

        <div class="main-content-col flex-grow-1">
            
            <div class="mb-3">
                <label class="form-label">Texto da Pergunta</label>
                <textarea class="question-text-input form-control" name="texto" rows="3" required></textarea>
            </div>

            <div class="mb-4">
                <label for="descricao" class="form-label">Descrição/Contexto (Opcional)</label>
                <textarea id="descricao" class='question-description-input form-control' name="descricao" rows="2"></textarea>
            </div>

            <h4 class="mb-3">Alternativas</h4>
            <div class="alternatives-container">
                </div>
            
            <button type="button" class="add-alternative-btn btn btn-success mt-3">Adicionar Alternativa</button>
        </div>

        <aside class="settings-col bg-white rounded-3 p-4 shadow-sm flex-shrink-0 col-12 col-lg-3">

            <div class="mb-4 border-bottom pb-3">
                <h5 class="mb-2">Estilo & Tipo</h5>
                <select name="tipo_pergunta" class="question-type-input form-select" required>
                    <option value="multipla_escolha">Múltipla Escolha</option>
                    <option value="verdadeiro_falso">Verdadeiro ou Falso</option>
                </select>
            </div>

            <div class="mb-4 border-bottom pb-3">
                <h5 class="mb-2">Pontuação</h5>
                <input type="number" class="question-points-input form-control" name="ponto" value="10" min="1" required>
            </div>

            <div class="mb-4 border-bottom pb-3">
                <h5 class="mb-2">Tempo Limite (segundos)</h5>
                <input type="number" class="question-time-input form-control" name="tempo" value="30" min="5" required>
            </div>

            <div class="d-grid gap-2 mt-4">
                <button type="button" class="btn btn-outline-secondary duplicate-button">Duplicar Questão</button>
                <button type="button" class="btn btn-danger remove-question-btn">Remover Questão</button>
            </div>
        </aside>
    </div>
</template>

<template id="alternative-template">
    <div class="alternative-item">
        <input type="checkbox" class="alternative-is-correct" name="is_correct" value="on"> 
        
        <input type="text" class="alternative-text-input" name="texto" required placeholder="Texto da Alternativa">
        
        <button class="remove-alternative-btn" type="button">Remover</button>
    </div>
</template>

<script src="{{ url_for('static', filename='js/create_quiz.js') }}"></script>

{% endblock conteudo %}

