{% extends 'public_base.html' %}

{% block head_extra_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/public.css') }}"/>
{% endblock head_extra_content %}

{% block conteudo %}
<div class="container-fluid">
    <form action="" method="post" class="form-choices mx-auto">
        {{ form.hidden_tag() }}
        <h3 class="text-center title-form">O quê sou?</h3>
        
        <div class="mt-5 row">
            {% if form.tipo_conta.choices %}
                {% set tipo_conta_salva = session.get('tipo_conta', '') %}
                
                <!-- Cartão 1 -->
                {% set choice_aluno = form.tipo_conta.choices[0] %}
                <div class="col-md-6 col-12 mb-4">
                    <div class="card">

                        <input type="radio" 
                            id="radio-{{ choice_aluno[0] }}" 
                            name="tipo_conta" 
                            value="{{ choice_aluno[0] }}" 
                            class='btn-check' 
                            autocomplete="off"
                            {%if choice_aluno[0] == tipo_conta_salva%}checked{%endif%}>

                        <label for="radio-{{ choice_aluno[0] }}" class="card-body">
                            <i class="fa-solid fa-book-open-reader bg-primary icon-choices d-flex text-center"></i>
                            <h5 class="card-title">{{ choice_aluno[1] }}</h5>
                        </label>
                    </div>
                </div>

                <!-- Cartão 2 -->
                {% set choice_professor = form.tipo_conta.choices[1] %}
                <div class="col-md-6 col-12 mb-4">
                    <div class="card">
                        <input type="radio"
                            id="radio-{{ choice_professor[0] }}"
                            name="tipo_conta" 
                            value="{{ choice_professor[0] }}"
                            class='btn-check' 
                            autocomplete="off"
                            {%if choice_professor[0] == tipo_conta_salva%}checked{%endif%}>

                        <label for="radio-{{ choice_professor[0] }}" class="card-body">
                            <i class="fa-solid fa-chalkboard-user icon-choices d-flex text-center"></i>
                            <h5 class="card-title">{{ choice_professor[1] }}</h5>
                        </label>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="mt-4 mb-4 d-flex">
            <a href="{{ url_for('cadastro.cadastro_01') }}" class="btn btn-secondary btn-back flex-fill me-2">Voltar</a>
            {{ form.submit(class='btn btn-continue flex-fill') }}
        </div>
        
        
    </form>
</div>
<br>
{% endblock conteudo %}