/* NAVBAR LATERAL HOME */
.sidebar-menuv {
    position: fixed;
    left: 0;
    top: 0; 
    height: 100vh;
    width: var(--sidebar-width); 
    background: var(--bg-navbar);
    transition: margin-left 0.3s ease-in-out;
    z-index: 1050; 
    display: flex;
    flex-direction: column;
    flex-direction: column; 
    box-shadow: 3px 0 8px rgba(0, 0, 0, 0.25);
    overflow-x: hidden;
}

.sidebar-menuv .sidebar-header {
    padding: 0 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    gap: 15px;
    min-height: var(--navbar-height);
    flex-shrink: 0;
}

.sidebar-menuv .sidebar-nav-links {
    overflow-y: auto; 
    overflow-x: hidden;
}

.sidebar-menuv .nav-link {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 20px;
    color: var(--bg-light-grey) !important;
    transition: background-color 0.2s, color 0.2s;
    border-left: 5px solid transparent;
    text-decoration: none;
    width: 100%;
}
.sidebar-menuv .nav-link:hover {
    background-color: var(--bg-navbar-hover);
    color: var(--bg-text-white-hover) !important;
    border-left-color: var(--bg-warning-action);
}
.sidebar-menuv .nav-link.active {
    background-color: var(--bg-navbar-active);
    color: var(--bg-text-white-hover) !important; 
    font-weight: 600;
}

.sidebar-menuv .description {
    font-size: 1rem;
    white-space: nowrap; 
    overflow: hidden;        
    text-overflow: ellipsis;
}

.sidebar-menuv .sidebar-footer-user {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.2);
    flex-shrink: 0;
}

.main-content {
    background-color: var(--bg-fundo);
    min-height: 100vh;
    transition: margin-left 0.3s ease-in-out;
    padding: 20px;
    margin-left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width));
}

@media (max-width: 992px) {
    
    .sidebar-menuv {
        margin-left: calc(0px - var(--sidebar-width));
    }

    .sidebar-menuv.toggled {
        margin-left: 0;
    }

    .main-content {
        margin-left: 0;
        width: 100%;
        padding-top: calc(var(--navbar-height) + 20px);
    }
    
    .main-content.toggled::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1040;
    }
}