/* body{
    background: url(../img/lousa.jpeg) rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
} */
body{
    background: #ffd997;
}
/* }
.bloco1{
    height: 100vh;
    background-image: url(../img/lousa.jpeg);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bloco1_1{
    width: 456px;
    height: 400px;
    
} */

/* MENU HOME-PAGE */
@media(max-width: 991px){
    .sidebar{
        background-color: #045008;
        backdrop-filter: blur(10px);
    }
}
.botao-enter{
    background-color: #ffb638;
    border: 2px solid #fff;
}
.botao-enter:hover{
    color: #fff;
    background-color: #ee9700;
    transition: 0.6s;
}
.logo{
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
}
/* FIM MENU HOMEPAGE */

/*Área LOGIN*/
.form-default{
    width:30%;
    background-color: #f5ffc7;
    padding: 50px;
    border-radius: 20px;
    margin-top: 60px; 
}

@media (max-width: 1000px) {
    .form-default {
        width: 60%; 
    }
}

.btn-primary{
    width: 100%;
    border: none;
    border-radius: 50px;
    background: rgb(28, 165, 28);
    color: #fff;
}
.btn-primary:hover{
    background-color: rgb(35, 122, 35);
    transition: background 0.6s;
}

.form-control{
    background:#fff;
    border-radius: 10px;
    border: none;
    padding-left: 30px;
}
.title-form{
    font-size: 2rem !important;
    font-weight: 600;
}
@media only screen and (max-width:600px){
    form{
        width: 90% !important;
    }
}
.icon-form{
    position: absolute;
    padding-left: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 2.5rem;
}
.conta{
    display: flex;
    justify-content: center;
}
.conta a{
    padding-left: 4px;
    text-decoration: none;
    color:orangered;
}
.conta a:hover{
    opacity: 0.7;
    transition: 0.3s;
}
/* FIM AREA-LOGIN */

/* AREA DE CADASTRO PAGE 02 */
.form-choices{
    width: 40%;
    background-color: #f5ffc7;
    padding: 30px;
    border-radius: 20px;
    margin-top: 50px; 
}
.icon-choices{
    width: 100px;           
    height: 100px;        
    border-radius: 50%;    
    display: flex;        
    align-items: center;    
    justify-content: center; 
    color: white;       
    font-size: 2rem;   
    background-color: #ffb638;
}
.card-title{
    margin-top: 15px;
    text-align: center;
}
.card {
    text-align: center;
    cursor: pointer;
    height: 100%; 
    box-sizing: border-box;   
}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    transition: background-color 0.3s;
}
.btn-check:checked + .card-body {
    background-color: lightblue;
}
@media (max-width: 1024px) {
    .row {
        display: flex;
        flex-wrap: wrap; 
    }
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%; 
        box-sizing: border-box; 
    }
}
@media (max-width: 812px) {
    .form-choices {
        width: 90%; 
    }
    .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%; 
    }
}
.btn-continue {
    border: none;
    border-radius: 50px;
    background: rgb(28, 165, 28);
    color: #fff;
    padding: 10px 20px;
}
.btn-continue:hover {
    background-color: rgb(35, 122, 35);
    transition: background 0.6s;
    color: #fff;
}
.btn-back {
    border-radius: 50px;
    padding: 10px 33px;
}
/* FIM AREA DE CADASTRO PAGE 02 */

/* AREA HOME MENU VERTICAL */
.sidebar-menuv{
    position: fixed;
    left: 0;
    height: 100%;
    width: 180px;
    padding-top: 20px;
    background: #FFEBC6;
    transition: width 0.3s;
    z-index: 1020;
    top: 56px;
    height: calc(100vh - 56px); 
    overflow-y: auto;
    
}

.sidebar-menuv .nav-link{
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px ;
    color: black;
}

.sidebar-menuv .description{
    font-size: 16px;
}

.sidebar-menuv .nav-link:hover{
    background-color: #ee9700;
    color: #fff;
}

.main-content{
    height: 100%;
    margin-left: 200px;
    padding: 20px;
    top: 70px;
    height: calc(100vh - 56px); /* Altura da tela menos a navbar */
    overflow-y: auto; /* Permite rolagem no conteúdo principal */
    z-index: 1  ; /* Para garantir que o conteúdo fique atrás da navbar e do menu */
    position: relative; /* Garante que o conteúdo fique no fluxo do layout */
}

@media(max-width: 700px){
    .sidebar-menuv{
        width: 60px;
    }
    .sidebar-menuv .description{
        display: none;
    }

    .sidebar-menuv .nav-link{
       justify-content: center; 
    }
    .main-content{
        margin-left: 60px;
    }
}

/* AREA DE CODIGO DA SALA */
.form-codigo{
    width:30%;
    background-color: #88B1BA;
    padding: 25px;
    border-radius: 15px;
    margin-top: 60px; 
}

.btn-codigo {
    border: none;
    border-radius: 10px;
    background: #EE9700;
    color: #fff;
    padding: 7px 20px;
}
.btn-codigo:hover {
    background-color: #d48907;
    transition: background 0.6s;
    color: #fff;
}

@media (max-width: 1000px) {
    .form-codigo {
        width: 60%; 
    }
}

@media (max-width: 400px){
    .title{
        font-size: 20px;
    }
}
