{% extends 'base.html' %}

{% block conteudo %}
    <div class="login-form">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="grupo-form">
                {{form.nome(class='control-form' , placeholder='Nome completo')}}
            </div>
            <div class="grupo-form">
                {{form.usuario(class='control-form', placeholder='Nome de usuário')}}
            </div>
            <div class="grupo-form">
                {{form.submit(class='botao')}}
            </div>
        </form>
    </div>
{% endblock conteudo %}