{% extends 'base.html' %}

{% block conteudo %}
<div class="container-fluid">
    <form action="" method="post" class="form-default mx-auto">
        {{ form.hidden_tag() }}
        <h3 class="text-center title-form">Cadastre-se</h3>
        <div class="mb-4 mt-5">
            {% if form.email.errors %}
                <span class='icon-form'><ion-icon name="mail"></ion-icon></span>
                {{form.email(class='form-control is-invalid alert-danger')}}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
            {% else %}
                <span class='icon-form'><ion-icon name="mail"></ion-icon></span>
                {{form.email(class='form-control', placeholder='Seu e-mail')}}
            {% endif %}
        </div>

        <div class="mb-4">
            {% if form.senha.errors %}
                <span class='icon-form'><ion-icon name="lock-closed"></ion-icon></span>
                {{form.senha(class='form-control is-invalid alert-danger')}}
                <div class="invalid-feedback">
                    {% for error in form.senha.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
            {% else %}
                <span class='icon-form'><ion-icon name="lock-closed"></ion-icon></span>
                {{form.senha(class='form-control', placeholder='Sua senha')}}
            {% endif %}
        </div>

        <div class="mb-3">
            {% if form.senha.errors %}
                <span class='icon-form'><ion-icon name="key"></ion-icon></span>
                {{form.confirm_senha(class='form-control is-invalid alert-danger')}}
                <div class="invalid-feedback">
                    {% for error in form.confirm_senha.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
            {% else %}
                <span class='icon-form'><ion-icon name="key"></ion-icon></span>
                {{form.confirm_senha(class='form-control', placeholder='Confirme a senha')}}
            {% endif %}
        </div>
        {{form.submit(class=' btn btn-primary mt-4')}}
    </form>
</div>
{% endblock conteudo %}