{% extends 'base.html' %}

{% block conteudo %}
<div class="container d-flex justify-content-center mt-5">
    <form action="{{ url_for('cadastro.resent_confirm') }}" method="post" class="form-default w-100 mx-auto">
        <h3 class="text-center title-form mb-4">Confirmação de e-mail</h3>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show mt-3" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <div class="mb-3">
            <button type="submit" class="btn btn-green-action w-100 text-white rounded-5 fs-5 mt-3">Reenviar e-mail</button>
        </div>
    </form>
</div>
{% endblock conteudo %}