{% extends 'public_base.html' %}

{% block conteudo %}
<div class="container d-flex justify-content-center mt-5">
    <form action="" method="post" class="form-default w-100 mx-auto">
        {{ form.hidden_tag() }}
        <h3 class="text-center title-form mb-4">Redefinir Senha</h3>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show mt-3" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <div class="input-group mb-3">
            <span class='input-group-text fs-5'><ion-icon name="mail"></ion-icon></span>
            {% if form.email.errors %}
                {{form.email(class='form-control is-invalid py-3')}}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{form.email(class='form-control py-3', placeholder='Seu e-mail')}}
            {% endif %}
        </div>
        {{form.submit(class='btn btn-green-action w-100 text-white rounded-5 fs-5 mt-3')}}
    </form>
</div>
{% endblock conteudo %}