{% extends 'base.html' %}

{% block conteudo %}
<div class="container-fluid">
    <form action="" method="post" class="form-default mx-auto">
        {{ form.hidden_tag() }}
        <h3 class="text-center title-form">Redefinir Senha</h3>

        <div class="mb-4 mt-4">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show mt-3" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        
        <div class="mb-4 mt-4">
            {% if form.email.errors %}
                {{form.email(class='form-control is-invalid alert-danger')}}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
            {% else %}
                <span class='icon-form'><ion-icon name="mail"></ion-icon></span>
                {{form.email(class='form-control', placeholder='Seu e-mail')}}
            {% endif %}
        </div>
        {{form.submit(class=' mb-4 btn btn-primary mt-4')}}
    </form>
</div>
{% endblock conteudo %}