<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classroom Quiz - {{title}} </title>
    <link rel="stylesheet" href="{{url_for('static', filename="estilos/estilos.css")}}" text="estilos.css">
    
</head>
<body>
    <header>
        <nav class='nav-menu-h'>
            <h1 class='logo'>Classroom Quiz</h1>
            <ul class="ul-menu-h">
                <li><a href="{{url_for('init.home')}}" class='link_a_menu'>Home</a></li>
                <li><a href="{{url_for('init.home')}}" class='link_a_menu'>Sobre</a></li>
                <li><a href="{{url_for('init.home')}}" class='link_a_menu'>Contato</a></li>
            </ul>

            <ul class='botao-enter'>
                <a href='{{url_for('login.login_user')}}'><li >Entrar</li></a>
            </ul>

            <div class="mobile-menu-icon">
                <button onclick="show_menu()"><span class='mobile-menu-icon'><ion-icon name="reorder-three-outline"></ion-icon></span></button>
            </div>

            <div class="menu-mobile">
                <ul class="ul-menu-h">
                    <li><a href="{{url_for('init.home')}}" class='link_a_menu'>Home</a></li>
                    <li><a href="{{url_for('init.home')}}" class='link_a_menu'>Sobre</a></li>
                    <li><a href="/" class='link_a_menu'>Contato</a></li>
                </ul>
    
                <ul class='botao-enter'>
                    <a href='{{url_for('login.login_user')}}'><li >Entrar</li></a>
                </ul>
            </div>
        </nav>
    </header>

    

    {% block conteudo %}

    {%endblock conteudo%}

    <script>
        function show_menu() {
            let menuMobile = document.querySelector('.menu-mobile');
            if (menuMobile.classList.contains('open')) {
                menuMobile.classList.remove('open');
            } else {
                menuMobile.classList.add('open');
            }
        }
    </script>

    <script type ="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script> 
    <script nomodule src="https://unpkg .com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
